.text-center {
  text-align: center !important;
}

.mb-xs {
  margin-bottom: 1.2rem !important;
}
.mb-sm {
  margin-bottom: 2.4rem !important;
}
.mb-md {
  margin-bottom: 3.6rem !important;
}
.mb-lg {
  margin-bottom: 4.8rem !important;
}
.mb-xl {
  margin-bottom: 6.4rem !important;
}
.mt-xs {
  margin-top: 1.2rem !important;
}
.mt-sm {
  margin-top: 2.4rem !important;
}
.mt-md {
  margin-top: 3.6rem !important;
}
.mt-lg {
  margin-top: 4.8rem !important;
}
.mt-xl {
  margin-top: 6.4rem !important;
}

.pb-xs {
  padding-bottom: 1.2rem !important;
}
.pb-sm {
  padding-bottom: 2.4rem !important;
}
.pb-md {
  padding-bottom: 3.6rem !important;
}
.pb-lg {
  padding-bottom: 4.8rem !important;
}
.pb-xl {
  padding-bottom: 6.4rem !important;
}
.pt-xs {
  padding-top: 1.2rem !important;
}
.pt-sm {
  padding-top: 2.4rem !important;
}
.pt-md {
  padding-top: 3.6rem !important;
}
.pt-lg {
  padding-top: 4.8rem !important;
}
.pt-xl {
  padding-top: 6.4rem !important;
}
